{% extends 'base.html' %}
{% block title %}Order History{% endblock %}
{% block content %}
  <div class="container bg-white rounded shadow p-4 mt-4">
    <h2 class="mb-4 font-bold text-2xl">Order History</h2>
    {% if orders and orders|length > 0 %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Status</th>
          <th>Date</th>
          <th>Total</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{ order[0] }}</td>
          <td><span class="badge badge-info">{{ order[2] }}</span></td>
          <td>{{ order[14] }}</td>
          <td>${{ order[3]|round(2) }}</td>
          <td><a href="{{ url_for('user.order_detail', order_id=order[0]) }}" class="btn btn-outline-primary btn-sm">View</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You have no orders yet.</p>
    {% endif %}
  </div>
{% endblock %}
